body {
  background-color: aquamarine;
  font-family: Great Vibes, cursive;
  font-size: 30px;
}

#div-titulo {
  width: 400px;
}

h1 {
  display: inline-block;
}

main {
  width: 480px;
}

.color {
  height: 80px;
  width: 80px;
  display: inline-block;
  border: solid black 1px;
  border-radius: 10%;
}

#button-random-color {
  font-family: Great Vibes, cursive;
  font-size: 15px;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 10px;
  width: 150px;
  height: 5px;
  padding: 5px 0 20px 0; 
  text-align: center;
  margin: 10px;
  background-color: blueviolet;
  border: solid salmon 5px;
}

#clear-board {
  font-family: Great Vibes, cursive;
  font-size: 15px;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 10px;
  width: 150px;
  height: 5px;
  padding: 5px 0 20px 0; 
  text-align: center;
  margin: 10px 27px;
  background-color: blueviolet;
  border: solid salmon 5px;
}

#board-size {
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  margin-left: 12px;
  box-sizing: border-box;
}

#generate-board{
  font-family: Great Vibes, cursive;
  font-size: 15px;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 10px;
  width: 150px;
  height: 5px;
  padding: 5px 0 20px 0; 
  text-align: center;
  margin: 10px 35px;
  background-color: blueviolet;
  border: solid salmon 5px;
}

#secao-cor {
  width: 400px;
  margin: 0;
}

#secao-quadro {
  width: 400px;
  margin: 20px auto;
}

#pixel-board {
  display: inline-block;
}